
    <%- include('../partials/header')%>   
    <div class = "form-container">
        <h1 style="text-align: center;">Enter New Flight Details:</h1>
        <form action="/" method="post" autocomplete="off">
            <input type="text" name = "airline" placeholder="Airline"> 
            <input type="text" name = "airport"placeholder="Airport">
            <input type="number" name = "flightNo" placeholder="Flight Number">
            <input type="date" name = "departs" placeholder="Departure Date">
            <input type="submit"></button>
        </form>
    
    </div>
    
    <%- include('../partials/footer')%>